@model GeoAgenda.Models.Conductor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Conductor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NroRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NroRegistro)
        </dd>

        <dd>
            @if (!string.IsNullOrEmpty(Model.Foto))
            {
                <img src="@Url.Content(Model.Foto)" alt="Image" style="width:200px;height:200px; max-width:100%;height:auto" />
            }

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdConductor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
