@model GeoAgenda.Models.Planificacion

@using (Html.BeginForm())

{
    @Html.AntiForgeryToken()


    <div>
        <h4>Planificacion</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.fechaEnvio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaEnvio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaEnvio, "", new { @class = "text-danger" })
            </div>
        </div>





        <div class="form-group">
            @Html.LabelFor(model => model.IdCliente, "IdCliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdCliente", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdCliente, "", new { @class = "text-danger" })
            </div>
        </div>


        @*<table>
            <thead>
                <tr>

                    <th>Cantidad</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>PrecioTotal</th>
                    <th><button type="submit" name="operacion" data-val="false" value="agregar-detalle">Agregar Detalle</button></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Detalle != null && Model.Detalle.Count > 0)
                {
                    var i = 0;
                    foreach (var item in Model.Detalle)
                    {
                        <tr>
                            @*<td>@Html.DropDownList("Detalle[" + i + "].TipoId", new SelectList(ViewBag.Tipo, "Id", "Nombre", item.Id))</td>*@

                            <td>@Html.TextBox("Detalle[" + i + "].Cantidad", item.Cantidad)</td>
                            <td>@Html.TextBox("Detalle[" + i + "].Descripcion", item.Descripcion)</td>
                            <td>@Html.TextBox("Detalle[" + i + "].PrecioUnitario", item.PrecioUnitario)</td>
                            <td>@Html.TextBox("Detalle[" + i + "].PrecioTotal", item.PrecioTotal)</td>
                            <td><button type="submit" name="operacion" value="eliminar-detalle-@i">Eliminar</button></td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>*@




        <p>
            <input type="submit" class="btn btn-primary" value="Create" />
        </p>




    </div>

}

