@model IEnumerable<GeoAgenda.Models.Planificacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fechaEnvio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaEnvio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cliente.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cliente.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vehiculo.Conductor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fechaEnvio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaEnvio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPlanificacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPlanificacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPlanificacion })
        </td>
    </tr>
}

</table>
