<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GeoAgenda</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GeoAgenda", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>


                    @if (User.Identity.IsAuthenticated)
                    {

                        <li>@Html.ActionLink("Conductor", "Index", "Conductor")</li>
                        <li>@Html.ActionLink("Entrega", "Index", "Entrega")</li>
                        <li>@Html.ActionLink("HojaRuta", "Create", "HojaRuta")</li>

                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Clientes <b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">@Html.ActionLink("Cliente", "Index", "Cliente")</a></li>
                                <li class="divider"></li>
                                <li><a href="#">@Html.ActionLink("Sucursal", "Index", "Sucursal")</a></li>
                            </ul>
                        </li>
                        
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Vehiculo <b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">@Html.ActionLink("Vehiculo", "Index", "Vehiculo")</a></li>
                                <li class="divider"></li>
                                <li><a href="#">@Html.ActionLink("MarcaVehiculo", "Index", "MarcaVehiculo")</a></li>
                                <li class="divider"></li>
                                <li><a href="#">@Html.ActionLink("ModeloVehiculo", "Index", "ModeloVehiculo")</a></li>
                            </ul>
                        </li>
                    }




                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GeoAgenda</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
